[project]
	description = Live demo at 
[access "refs/*"]
	owner = group user/Yi EungJun (npcode)
[access "refs/for/refs/*"]
	read = group user/Yi EungJun (npcode)
	push = group user/Yi EungJun (npcode)
	label-Code-Review = -2..+2 group user/Yi EungJun (npcode)
	label-Verified = -1..+1 group user/Yi EungJun (npcode)
	rebase = group user/Yi EungJun (npcode)
	removeReviewer = group user/Yi EungJun (npcode)
	submit = group user/Yi EungJun (npcode)
[access "refs/heads/*"]
	read = group user/Yi EungJun (npcode)
	create = group user/Yi EungJun (npcode)
	push = +force group user/Yi EungJun (npcode)
	pushMerge = group user/Yi EungJun (npcode)
[access "refs/tags/*"]
	push = +force group user/Yi EungJun (npcode)
	pushTag = group user/Yi EungJun (npcode)
	pushSignedTag = group user/Yi EungJun (npcode)
